<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Direct Messaging</title>
    
    
    <link rel="stylesheet" href="beauty_css/reset.css">

        <link rel="stylesheet" href="beauty_css/style.css">
    
  </head>

  <body>

    <div class="wrapper">
        <div id="loginWrap" style="height:100px">
            <p>Enter a user name</p>
            <p id="loginError"></p>
            <form id="loginForm">
                <input size="35" id="userName"/>
                <input type="submit"/>
            </form>
        </div>
        <div id="container" class="container" style="display: none">
            <div class="left">
                <div class="top">
                    <input type="text" />
                    <a href="javascript:;" class="search"></a>
                </div>
                <ul class="people" id="users">
                    <li id="chatAllUsers" class="person active" data-chat="person0">
                        <img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
                        <span class="name">Chat Room</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">Wasup for the third time like is you bling bitch</span>
                    </li>
                </ul>
            </div>
            <div class="right" id="wrapChat">
                <div class="top"><span>To: <span class="name">Chat Room</span></span></div>
                <div id="chatAllMessage" class="chat active-chat" data-chat="person0">

                </div>
                <div class="write" style="z-index:1000">
                    <a href="javascript:;" class="write-link attach"></a>
                    <form id="chatAll">
                        <input id="message" type="text" />
                        <a href="javascript:;" onclick="$('#chatAll').submit();" class="write-link send"></a>
                    </form>
                    <a href="javascript:;" class="write-link smiley"></a>
                </div>
            </div>
        </div>
</div>

<span class="credits">design: <a href="https://dribbble.com/Miksa" target="_blank">milan</a>, code: <a href="http://codepen.io/Momciloo" target="_blank">momcilo</a></span>

        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script src="js/index.js"></script>
        <script>
            $(document).ready(function(){
                var socket = io.connect();
                var $loginForm = $('#loginForm');
                var $loginError = $('#loginError');
                var $userName = $('#userName');
                var $messageForm = $('#chatAll');
                var $messageBox = $('#message');
                var $chatAllMessage = $('#chatAllMessage');
                var $users = $('#users');
                // var userName = prompt('Enter your name', 'Anonymous') || 'Anonymous';

                // Login function
                $loginForm.submit(function(e) {
                    e.preventDefault();
                    var name = $userName.val();
                    socket.emit('userLogin', $userName.val(), function(callbackValue) {
                        // login success
                        if (callbackValue) {
                            $('#loginWrap').hide();
                            $('#container').show();
                            $('#userNameDisplay').html(name);

                            // listening recieve private message
                            socket.on('recivePrivateMessageEvent', function(data){
                                console.log('data');
                                $('#wrapChat').find('#' + data.toUserName).append("<div class='bubble you'>" + data.toUserName.trim() + ": " + data.msg + "</div>");
                            });

                            // listening list users
                            socket.on('init user names', function(data) {
                                console.log('init');
                                var idOfCurrentUser = $users.find('.active').attr('id').trim();
                                var idOfCurrentChat = $('#wrapChat').find('.active-chat').attr('id').trim();
                                for (var i = 0; i < data.length; i++) {
                                    var idOnlineUser = 'chatTo' + data[i];
                                    var classUserTemp = 'person';
                                    var classChatTemp = 'chat';
                                    if (idOnlineUser == idOfCurrentChat) {
                                        classUserTemp = 'person active';
                                    }
                                    if (data[i] == idOfCurrentChat) {
                                        classChatTemp = 'active-chat';
                                    }
                                    $users.append("<li id='" + idOnlineUser + "' class='" + classUserTemp + "'data-chat='person" + (i+1) + "'><img src=' http://s16.postimg.org/ete1l89z5/img5.jpg' alt='' /><span class='name'>"+ data[i] +"</span><span class='time'>2:09 PM</span><span class='preview'>Wasup for the third time like is you bling bitch</span></li>");
                                    $('#wrapChat').append("<div id="+ data[i] +" class='" + classChatTemp + "' data-chat='person" + (i+1) + "'></div>");
                                }
                            });

                            // listening update users when one login or logout
                            socket.on('update users', function(data) {
                                console.log('update');
                                var index = data.index;
                                var userName = data.userName;
                                if (data.status == 'online') {
                                    $users.append("<li id='chatTo" + userName + "' class='person' data-chat='person" + (index+1) + "'><img src=' http://s16.postimg.org/ete1l89z5/img5.jpg' alt='' /><span class='name'>"+ userName +"</span><span class='time'>2:09 PM</span><span class='preview'>Wasup for the third time like is you bling bitch</span></li>");
                                    $('#wrapChat').append("<div id="+ userName +" class='chat' data-chat='person" + (index+1) + "'></div>");
                                } else {
                                    $users.find('#chatTo' + data.userName).remove();
                                    $('#wrapChat').find('#' + data.userName).remove();
                                }
                            });
                        } else {    
                            $loginError.html('The userName is invalid or it may be already used. Please Try Again !');
                        }
                    });
                    $userName.val('');
                });

                // Send message function
                $messageForm.submit(function(e){
                    // prevent reload the page
                    e.preventDefault();
                    var $chatMessage = $('#wrapChat').find('.active-chat');
                    if ($chatMessage.attr('id').trim() == 'chatAllMessage') {
                        console.log($messageBox.val());
                        socket.emit('sendMessageEvent', $messageBox.val());
                    } else {
                        console.log($messageBox.val());
                        socket.emit('sendPrivateMessage', $chatMessage.attr('id').trim(), $messageBox.val());
                    }
                    $chatMessage.append("<div class='bubble me'>" + $messageBox.val() + "</div>");
                    $messageBox.val('');
                });

                // listening reciving public message event
                socket.on('reciveMessageEvent', function(data){
                    console.log(data);
                    $chatAllMessage.append("<div class='bubble you'>" + data.userName + ": " + data.msg + "</div>");
                });
            });
        </script>
    
    
    
  </body>
</html>
