<html>
	<head>
		<title>Chat Application	</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script type="text/javascript" src="/jquery/jquery.js"></script>
		<script type="text/javascript" src="socket.io/socket.io.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<h3>Chat Room</h3>
			<!-- Enter UserName -->
			<div id="loginWrap">
				<p>Enter a user name</p>
				<p id="loginError"></p>
				<form id="loginForm">
					<input size="35" id="userName"/>
					<input type="submit"/>
				</form>
			</div>

			<!-- Message Box-->
			<div id="contentWrap">
				<div id="chatWrap">
					<div id="chat"></div>
					<form id="send-message">
						<input type="text" size="35" id="message"/>
						<input type="submit"/>
					</form>
				</div>
				<div id="users"></div>
			</div>
		</div>

		<script>
			$(document).ready(function(){
				var socket = io.connect();
				var $loginForm = $('#loginForm');
				var $loginError = $('#loginError');
				var $userName = $('#userName');
				var $messageForm = $('#send-message');
				var $messageBox = $('#message');
				var $chat = $('#chat');
				var $users = $('#users');
				// var userName = prompt('Enter your name', 'Anonymous') || 'Anonymous';

				// Login function
				$loginForm.submit(function(e) {
					e.preventDefault();
					socket.emit('userLogin', $userName.val(), function(callbackValue) {
						if (callbackValue) {
							$('#loginWrap').hide();
							$('#contentWrap').show();
						} else {
							$loginError.html('The userName is invalid or it may be already used. Please Try Again !');
						}
					});
					$userName.val('');
				});

				// Send message function
				$messageForm.submit(function(e){
					// prevent reload the page
					e.preventDefault();
					socket.emit('sendMessageEvent', $messageBox.val());
					$messageBox.val('');
				});

				// listening reciving message event
				socket.on('reciveMessageEvent', function(data){
					$chat.append("<b>" + data.userName + '</b>: ' + data.msg + '<br/>');
				});

				// listening list users
				socket.on('lsUserNames', function(data){
					var users = '';
					for (var i = 0; i < data.length; i++) {
						users += "<span class='onlineUser'>" + data[i] + '<br/></span>'
					}
					$users.html(users);
				});

				$(document).on('click', '.onlineUser', function() {
					$('#wrapper').append("<div class='contentWrap'><div class='chatWrap'><div class='chat'></div><form class='send-message'><input type='text'size='35'class='message'/><input type='submit'/></form></div></div>");
				});

				$(document).on('submit', '.send-message', function(e) {
					// khong can dung e.preventDefault();
					return false;
				});
			});
		</script>
	</body>
</html>